<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <a href='/addblog' style="text-decoration:none;">
                <div class="d-flex justify-content-center media content-section newblog">
                    <h3 class="text-primary">New Blog</h3>
                </div>
            </a>
            {{!-- <div class="d-flex justify-content-center new blog media content-section newblog">
                <h3>New Blog</h3>
            </div> --}}
            {{#each blogs}}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="/images/profile.jpg">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{owner.name}}</a>
                        <small class="text-muted">{{createdAt}}</small>
                    </div>
                    <h2><a class="article-title" href="/blogs/{{_id}}">{{title}}</a></h2>
                    <p class="article-content blog-box">{{body}}</p>
                </div>
            </article>
            {{/each}}
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>