<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {{!-- <div class="d-flex justify-content-center new blog media content-section newblog">
                <h3>New Blog</h3>
            </div> --}}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="/images/profile.jpg">
                <div class="media-body">
                    <div class="article-metadata">
                        {{#unless flag}}
                        <a class="mr-2" href="#">{{blog.owner.name}}</a>
                        <small class="text-muted">{{blog.date}}</small>
                        {{/unless}}
                        {{#if flag}}
                        <div class="parent-edit-del">
                            <div>
                                <a class="mr-2" href="#">{{blog.owner.name}}</a>
                                <small class="text-muted">{{blog.createdAt}}</small>
                            </div>
                            <div>
                                <form style='display:inline;' action="/blogs/{{blog._id}}/edit" method="GET">
                                    <button type="submit" id="completed-task" class="fabutton">
                                        <i class="far fa-edit icons"></i>
                                    </button>
                                </form>
                                <form style='display:inline;' id="delete-form">
                                    <button type="submit" id="completed-task" class="fabutton">
                                        <i class="fas fa-trash-alt icons"></i>
                                    </button>
                                </form>
                                {{!-- <a href="/blogs/{{blog._id}}/edit"><i class="far fa-edit icons"></i></a> --}}
                                {{!-- <a href="/blogs/{{blog._id}}/delete"><i class="fas fa-trash-alt icons"></i></a>
                                --}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <h2><a class="article-title" href="/blogs/{{blog._id}}">{{blog.title}}</a></h2>
                    <p class="article-content">{{blog.body}}</p>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>